body {
    margin: 0px auto;
    background-color: #ffdab5;
}

.everything {
    margin: 140px;
    height: 503px;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

.main-container {
    margin: 0px;
    width: 300px;
    height: 100%;
}

.image img {
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 230px;
    display: block;
}

.menu {
    margin: 0px;
    padding: 0px;
    height: 265px;
}

.menu ul {
    margin: 0px;
    height: 268px;
    padding: 0px;
}

.menu li {
    left: 0px;
    margin: 0px;
    margin-bottom: 1px;
    padding: 7px;
    text-decoration: none;
    list-style: none;
    border-left:20px solid #42c2f4;
    background-color: #eaeaea;
}

.menu a {
    font-size: 29px;
    font-family: cursive;
    text-decoration: none;
    color: #888888;
}

.menu a:hover {
    color: #42c2f4;
}

.menu li:hover {
    background-color: white;
}

.menu li:link {
    color: #42c2f4;
    background-color: white;
}

/*
.right-container {
    margin: 140px;
    float: right;
    background-color: white;
    right: 140px;
    width: 769px;
    height: 100%;
    display: block;
}
*/



